@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");

// Paleta kolorów z baneru
$primaryColor: #d4a359;
$hoverColor: #ffcf87;
$backgroundColor: #0d0d0d;
$supportDarkColor: #1a1613;
$supportLightColor: #26201b;
$redColor: #9e1b1b;
$fontColor: #f5f5f5;
$secondaryColor: #b5a89e;

$headerFont: "Saira Stencil", sans-serif;
$textFont: "Albert Sans", sans-serif;
$supportFont: "Fira Code", monospace;

$borderGame: 2px solid #4a3b2c;
$boxShadowHeavy: 0 10px 30px rgba(0, 0, 0, 0.8);
